* {
    background-color: cyan;
}

section {
    background-color: darkcyan;
}

h1 {
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #afafbf;
    text-align: left;
    padding: 16px;
  }

  tr:nth-child(even) {
    background-color: #afafaf;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
